@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins&display=swap');
body {
    background-color: aquamarine;
}


/* .home {
    display: flex;
} */


/* .navbar {
    position: absolute;
}

.links {
    position: relative;
    padding-right: 0;
    display: inline; */